<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">

    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js">
    </script>

    <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/spectrum/1.8.0/spectrum.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/spectrum/1.8.0/spectrum.min.js"></script>

    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <link href="static/css/control.css" rel="stylesheet">

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.5.0/jquery.contextMenu.min.js"></script>
</head>

<body>

<div class="container">
    <div class="row">
        <div class="divider"></div>
        <div class="section">
            <div class="row">
                <div id="lights" class="col s12"></div>
            </div>
        </div>
   </div>
</div>

<!-- <script src="static/js/control.js"></script> -->
<script src="static/js/light-panel.jsx" type="text/babel"></script>
<script type="text/babel">
    function LightPanel() {
        return <div>
            {% for key, light in lights.items() %}
                {% if light.state.reachable %}
                    {% if light.type == 'Dimmable light' %}
                        <WhiteLightPanel lightId="{{ key }}"
                            name="{{ light.name }}" />
                    {% endif %}
                    {% if light.type == 'Extended color light' %}
                        <ColorLightPanel lightId="{{ key }}"
                            name="{{ light.name }}" />
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>;
    }

    ReactDOM.render(
        <LightPanel />,
        document.getElementById("lights")
    );
</script>
</body>
</html>
